<div class="col-md-3">
    <div>
        <logged-in-sidebar></logged-in-sidebar>
    </div>

</div>
<div class="col-md-7">

    <div class="well bs-component">
        <form class="form-horizontal" name="editMyAd">
            <fieldset>
                <legend>Edit Ad</legend>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="title" class="col-md-3 control-label">Title</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="title" ng-model="adData.title"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textAd" class="col-md-3 control-label">Text</label>

                            <div class="col-md-9">
                            <textarea class="form-control" rows="4" id="textAd" ng-model="adData.text"
                                      required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                       <div class="image-box" ng-show="isImageVisible" >
                            <img class="_fullHD"  src="" ng-src="{{adData.imageDataUrl}}"/>
                        </div>
                        <p ng-hide="isImageVisible">No Image</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="image" class="col-md-3 control-label">Image</label>

                            <div class="col-md-9">

                                <input type="file" class="form-control" id="image"
                                       onchange="angular.element(this).scope().fileSelected(this)"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-md-3 control-label">Category</label>

                            <div class="col-md-9">
                                <select id="category" class="form-control"
                                        ng-options="category.id as category.name for category in categories"
                                        ng-model="adData.categoryId">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="town" class="col-md-3 control-label">Town</label>

                            <div class="col-md-9">
                                <select id="town" class="form-control"
                                        ng-options="town.id as town.name for town in towns"
                                        ng-model="adData.townId">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-4 ">
                            <button class="btn btn-info btn-default"  ng-click="changeImage()">Change</button>
                            <button class="btn btn-info btn-default" ng-disabled="adData.imageDataUrl==null" ng-click="deleteImage()">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="editAd(adData)">Publish</button>
                    </div>
                </div>


            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div>
    </div>
</div>