<header>
    <div class="bs-component">
        <div class="navbar navbar-inverse" >
            <h1>ADS - {{pageTitle}}
            <span ng-if="isLoggedIn" class="user-area">
                <span>{{username}}</span>
                <a ng-click="logout()" class="link">Logout</a>
            </span></h1>
        </div>
    </div>

</header>
<div id="wrapper">
    <div class="row">
        <div class="col-md-3">
            <div ><left-public-sidebar ng-if="!isLoggedIn"></left-public-sidebar></div>
            <div><logged-in-sidebar ng-if="isLoggedIn"></logged-in-sidebar></div>
        </div>
        <div class="col-md-6">
            <public-ads></public-ads>
        </div>
        <div class="col-md-3">
            <categories></categories>
            <towns></towns>
        </div>
    </div>
</div>