<div class="col-md-3" >
    <div ><left-public-sidebar ng-if="!isLoggedIn" ></left-public-sidebar></div>
    <div ><logged-in-sidebar ng-if="isLoggedIn" ></logged-in-sidebar></div>
</div>
<div class="col-md-7" >
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>User Registration</legend>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="user.Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone" ng-model="user.phone" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTown" class="col-lg-2 control-label">Town</label>
                    <div class="col-lg-10">
                    <select id="inputTown" class="form-control" ng-options="town.id as town.name for town in towns" ng-model="user.townId">
                    </select>
                        </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" ng-click="cancelRegister()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="register(user)">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div></div>
</div>