   <div id="towns">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Towns</h3>
            </div>
            <div class="panel-body" class="bs-component">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="town in towns"
                       data-id="{{town.id}}" ng-click="townClicked($event.target)">
                        {{town.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
